event.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="event_id"/>
              <xs:element type="xs:string" name="event_name"/>
              <xs:element type="xs:string" name="event_desc"/>
              <xs:element name="event_tags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="id" use="optional"/>
                            <xs:attribute type="xs:string" name="displayName" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="event_type_participation"/>
              <xs:element name="event_timing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="event_start_datetime"/>
                    <xs:element type="xs:dateTime" name="event_end_datetime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="event_organizer_email"/>
              <xs:element type="xs:long" name="event_organizer_phone"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>